.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background: url(../images/wall.png);
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100px;
    width: 100vw;
    background-image: linear-gradient(#222222,#000000) ;
    color: rgb(255, 164, 164);
}

.menu-time,.menu-score{
    display: flex;
    justify-content: center;
    align-items: center;

}

.second {
    margin-left: 10px;
}

.panel {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 20px solid brown;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.411);
}

.square {
    width: 200px;
    height: 200px;
    background-color: rgb(214, 158, 161);
    border: 1px solid rgb(131, 79, 79);
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}

.enemy {
    background: url(../images/ralph.png) rgb(153, 107, 107)center center no-repeat;
    background-size: cover;

}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

#lives-container img{
    margin-left: 5px;
    width: 30px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
    background-image: linear-gradient(#000000 ,#1d1d1d);
    color: antiquewhite;
}
.sidewalk{
    width: 100vw;
    height: 30px;
    background-image: linear-gradient(#757474 ,#979696);
    border-bottom: 25px ridge #979696;

}
.text{
    margin: auto;
}

@media (max-width:1900px) {
    .square{
        width: 150px;
        height: 150px;
    }
}
@media (max-width:1500px) {
    .square{
        width: 120px;
        height: 120px;
    }
}

@media (max-width:450px) {
    .square{
        width: 100px;
        height: 100px;
    }

    .menu-time,.menu-score{
        font-size: 10px;
    }
    .menu-lives img{
        width: 30px;
        height: 30px;
    }
    #lives-container img{
        width: 10px;
    }
}

@media (max-width:350px) {
    .square{
        width: 80px;
        height: 80px;
    }

    .menu-time,.menu-score{
        font-size: 10px;
    }
    .menu-lives img{
        width: 30px;
        height: 30px;
    }
    #lives-container img{
        width: 10px;
    }
}

@media (max-height:700px) {
    .menu{
        height: 70px;
    }
    
}

@media (max-height:450px) {
    .menu{
        height: 55px;
    }
    .square{
        width: 80px;
        height: 80px;
    }

    .menu-time,.menu-score{
        font-size: 20px;
    }
    .menu-lives img{
        height: 40px;
    }
    #lives-container img{
        width: 20px;
    }
}

@media (max-height:350px) {
    .square{
        width: 40px;
        height: 40px;
    }

    .menu-time,.menu-score{
        font-size: 10px;
    }
    .menu-lives img{
        width: 30px;
        height: 30px;
    }
    #lives-container img{
        width: 10px;
    }
}