.menu{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#ffffff19, #e304041c);
    backdrop-filter: blur(5px); /* Ajuste o valor de desfoque conforme necessário */
    position: fixed;
}
.popup {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 30rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   background-image: radial-gradient(#e7b3b3,#dc8282);
    border-radius: 25px;
    padding: 10px;
    z-index: 1000;
}
.popup ul{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.popup ul li{
    background-color: rgb(183, 71, 71);
    padding: 20px 40px;
    margin: 15px;
    border-radius: 25px;
}

.point{
    display: flex;
}
.point h4{
    padding: 0 20px;
}
